* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --theme-color: #030303;
}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}

body {
    background-color: var(--theme-color);
}

.not-found {
    height: 100vh;
    width: 100%;
    background-color: var(--theme-color);
    text-align: center;

}

.not-found h1 {}